.card__header {
  padding: 1em 0;
}

/* .card__title {
  margin-bottom: 1em;
  font-size: 1.2rem;
} */

.card__subtitle {
  font-size: 0.9rem;
  opacity: 0.8;
}

.card__link {
  margin-bottom: 0.5em;
}

.card__text {
  font-size: 0.9rem;
  line-height: 1.6;
}