.card {
  padding: 1em;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
}

.card__image-container {
  width: 320px;
  border-radius: var(--border-radius);
  overflow: hidden;
}