.main {
  display: grid;
  padding: 2em;
  gap: 0.5em;
}

.column {
  display: grid;
  gap: 0.5em;
}

.card {
  padding: 1em;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
}

.card__title {
  margin-bottom: 1em;
  font-size: 1.2rem;
}

.card > small {
  display: block;
  margin-right: 2em;
  text-align: end;
}

.no-margin {
  margin: 0;
}

.icon {
  margin-right: 1em;
}

@media screen and (min-width: 720px) {
  .main {
    grid-template-columns: min-content 1fr;
  }
}